<h2>Welcome</h2>

<p>Wecome to Meadowlark Travel! Please sign up for our newsletter!</p>
<ul>
  <li><a href="/newsletter-signup">Browser for submission (flash example)</a>.</li>
  <li><a href="/newsletter">Async form submissino (recommended)</a>.</li>
</ul>

<p><a href="/cart">shopping cart example</a></p>

{{> weather}}